In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('personal_members.xlsx')

df.head()

    姓名       单位    身份
0  蒋俏蕾     清华大学   副教授
1  李长旭     北京大学    硕士
2  刘建国   上海财经大学    教授
3  彭泰权  密歇根州立大学  副教授
4  司峥鸣  哈尔滨工业大学   副教授

In [4]:
a = """<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="main.css">
  <title>profile-card</title>
</head>
<body>
  <div class="profile-card">
    <div class="head">
          <div class="profile-image">
            <img src="assets/member.jpg" alt="Kovรกcs Bea photo">
          </div>
"""

In [8]:
c = """      <section class="links">
          <nav>
            <ul>
              <li><i class="fa fa-home"></i><a href="index.html"></a></li>
              <li><i class="fa fa-twitter"></i><a href="https://twitter.com/"></a></li>
              <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/"></a></li>
              <li><i class="fa fa-github"></i><a href="https://github.com/"></a></li>
              <li><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/"></a></li>
           </ul>
         </nav>
      </section>
    </div>
  </div>
</body>
</html>
"""

In [10]:

b = """    <h1>name</h1>
           <p><i class="fa fa-globe"></i>  org</p>
    </div>
    <div class="content">
      <p class="email">identity</p>
"""



b

In [12]:
print(b)

    <h1>name</h1>
           <p><i class="fa fa-globe"></i>  org</p>
    </div>
    <div class="content">
      <p class="email">identity</p>

In [25]:
for i in df.index:
    name, org, identity = df['姓名'][i], df['单位'][i], df['身份'][i]
    b1 = '    <h1>' + name + '</h1>\n'
    b2 = '           <p><i class="fa fa-globe"></i>' + org + '</p>'
    b3 = """    </div>
    <div class="content">
      <p class="email">"""
    b3 = b3 + identity + '</p>\n'
    html = a + b1 + b2 + b3 + c
    with open(name + '.html', 'w') as f:
        for j in html:
            f.write(j)